{% extends 'website/structure/base.html' %}

{% block list_data %}

	<div class="row mt-5">
		<div class="primary-column">
			<h2>Contacts</h2>
		</div>
		<div class="secondary-column py-4">
			<dl>
				<dt class="h3 mt-4 pt-3">Head Office</dt>
				{% if head_office.email %}<dd><a href="mailto:{{ head_office.email }}">{{ head_office.email }}</a></dd>{% endif %}
				<dd>{{ head_office.address | linebreaks | default:"" }}</dd>
				<dd>{{ head_office.phone_number | default:"" }}</dd>
			</dl>
		</div>
	</div>
	{% if distributors %}
		<div class="row">
			<div class="primary-column">
				<h2>Distributors</h2>
			</div>
			<div class="secondary-column py-4">
				{% for distributor in distributors %}
					<dl>
						<dd class="h3 mt-4 pt-3">{{ distributor.area }}</dd>
						<dt>{{ distributor.name }}</dt>
						{% if distributor.website %}<dd><a href="{{ distributor.website }}">{{ distributor.website }}</a></dd>{% endif %}
						<dd>{{ distributor.address | linebreaks }}</dd>
						<dd>{{ distributor.phone_number | default:"" }}</dd>
					</dl>
					<hr class="my-5">
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}
