{% extends 'website/structure/base.html' %}
{% load static %}
{% block full_width %}
	<div class="container-fluid">
		{% for event in history %}
			<div class="row p-5 {% if forloop.counter|divisibleby:2 %}striped-background text-light{% endif %}" {% if forloop.counter|divisibleby:2 %}style="background-image:url({% static 'website/neurons.jpg' %}"{% endif %}>
				{% if event.image %}
					<div class="primary-column">
						<img class="img-responsive mx-auto" src="{{ MEDIA_URL }}/{{ event.image }}" alt="{{ event.year }}">
					</div>
				{% endif %}
				<div class="secondary-column">
					<h3>{{ event.title }}</h3>
					{{ event.body_text | linebreaks }}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}