{% extends 'website/structure/base.html' %}
{% load markdown_extras %}

{% block list_data %}
{% if products %}
	{% if product_type.grid_list %}
		{% include 'website/components/grid-list.html' with items=products anchors="true" %}
		<hr class="my-3 text-muted w-75">
	{% else %}
		<div class="my-4"></div>
	{% endif %}
	{% for product in products %}
		{% if product.get_components %}
		<div class="card my-4 style-color-lxmt-bg">
			<div class="card-body px-4">
		{% endif %}
				<div class="row">
					<div class="col product-content">
						<h2 id="{{ product.slug }}" class="anchor">{{ product.title }}</h2>
						{{ product.body_text | markdown | safe }}
					</div>
					{% if product.get_image %}
						<div class="col-md-6">
							<img class="img-responsive" src="{{ product.get_image }}" alt="{{ product }}">
						</div>
					{% endif %}
				</div>
				{% if product.get_components %}
				<div class="row">
					<div class="col-12 product-component">
						<h2>Components</h2>
						{% include 'website/components/tabs.html' with components=product.get_components %}
					</div>
				</div>
				{% endif %}
		{% if product.get_components %}
			</div>
		</div>
		{% endif %}
		{% if not forloop.last %}
			<hr class="my-5">
		{% endif %}
	{% endfor %}
{% else %}
	<p><em>There are no products in this category</em></p>
{% endif %}

{% endblock %}