{% extends 'website/structure/base.html' %}
{% load markdown_extras %}
{% load related_items %}

{% block list_data %}

	{% if reasons %}
		{% include 'website/components/reasons.html' with items=reasons header=header %}
	{% endif %}

	{% if applications %}
	<hr>
		{% include 'website/components/grid-list.html' with items=applications anchors="true" %}
		<hr>
		{% for application in applications %}
			<div class="row mb-4">
				<h2 class="mb-2 text-muted anchor" id="{{ application.title | slugify }}">{{ application_header | default:"Applications" }}</h2>
				<h2 class="anchor">{{ application.title }}</h2>
				<div class="body-text">{{ application.body_text | markdown | safe }}</div>
				{% app_related_items application.id as related_items %}
				{% if related_items %}
					<div class="px-4">
						{% include 'website/components/grid-list.html' with items=related_items prefix_name='true' %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	{% endif %}

{% endblock %}