venv/
*pycache*
*sqlite3*

*/.sass-cache/*

node_modules/

*DS_Store*

# These should be distributed and then placed here on build using `collectstatic`
/static/
# Just in case 
!website/static/ 

# Wordpress legacy files
wwwroot/
wordpress*/

# Developer notes
todo/ 
