{% load static %}

{% spaceless %}
<div class="mt-3 row row-cols-{{ cols | default:4 }}">
	{% for item in items.all %}
		<div class="col">
			<a class="d-block rounded-3 coda-button d-flex" href="{{ item.slug }}">
				{% if not text_below %}
					<div class="caption d-flex flex-wrap align-content-center"><span>{{ item.title }}</span></div>
				{% endif %}
				<div class="coda-button-background w-100" style="background-image:url({% if item.image %}{{ MEDIA_URL }}/{{ item.image }}{% else %}{% static 'website/neurons.jpg'%}{% endif %}">
					
				</div>
			</a>
			{% if text_below %}
				<p class="lead text-center"><a href="{{ item.slug }}">{{ item.title }}</a></p>
				<p>{{ item.lead_text }}</p>
			{% endif %}
		</div>
	{% endfor %}
</div>
{% endspaceless %}

<!-- TODO: Work out how item.link actually turns up given it's not a property of `item` -->