{% load static %}
{% load markdown_extras %}

{% spaceless %}
<div class="mt-3 row row-cols-lg-{{ cols | default:4 }} row-cols-sm-2 row-cols-1">
	{% for item in items %}
		<div class="col">
			<a class="d-block rounded-3 coda-button d-flex" 
				href="{% if item.full_slug and not anchors %}{{ item.full_slug }}{% else %}{% if anchors %}#{% endif %}{{ item.slug | default:item.title | slugify }}{% endif %}"
			>
				{% if not text_below %}
					<div class="caption d-flex flex-wrap align-content-center {% if item.image %}text-outline{% endif %}"><span>{% if prefix_name %}{{ item.prefix_name | default:item.title }}{% else %}{{ item.title }}{% endif %}</span></div>
				{% endif %}
				<div class="coda-button-background w-100 {% if homepage %}grid-list-homepage{% endif %}" style="background-image:url({% if item.image %}{{ MEDIA_URL }}/{{ item.image }}{% else %}{% static 'website/neurons.jpg'%}{% endif %}">
					
				</div>
			</a>
			{% if text_below %}
				<p class="lead text-center"><a href="{{ item.slug }}">{{ item.title }}</a></p>
				<p>{{ item.list_text | default:item.lead_text | markdown | safe }}</p>
			{% endif %}
		</div>
	{% endfor %}
</div>
{% endspaceless %}