{% load markdown_extras %}
<ul class="nav nav-tabs" id="{{ product | slugify }}-components" role="tablist">
		{% for component in components %}
			<li class="nav-item" role="presentation">
				<a class="nav-link {% if forloop.first %}active{% endif %}" id="{{ product | slugify }}-component-{{ component.title | slugify }}" data-bs-toggle="tab" href="#{{ product | slugify }}-component-{{ component.title | slugify }}-content" role="tab" aria-controls="{{ product | slugify }}-component-{{ component.title | slugify }}-content" aria-selected="true">{{ component.title | upper }}</a>
			</li>
		{% endfor %}
</ul>
<div class="tab-content" id="{{ product | slugify }}-components-content">
	{% for component in components %}
		<div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ product | slugify }}-component-{{ component.title | slugify }}-content" role="tabpanel" aria-labelledby="{{ product | slugify }}-component-{{ component.title | slugify }}">
			<div class="row mt-4">
				{% if component.image %}
					<div class="col-md-4">
						<img class="img-responsive" src="{{ MEDIA_URL }}/{{ component.image }}">
					</div>
				{% endif %}
				<div class="col-auto component-content">
					<h3>{{ component.title | upper }}</h3>
					{{ component.body_text | markdown | safe }}
				</div>
			</div>
		</div>
	{% endfor %}
</div>