.page-header {
  min-height: 17rem;
  background: blue;
  color: white;
}
.page-header h1 {
  font-size: inherit;
}
.page-header.home-header {
  min-height: 100vh;
  background: teal;
}
.page-header.home-header h1 {
  font-size: 75px;
}

.codamotion-nav {
  border-bottom: 1px solid grey;
  min-height: 7rem;
}

.page-title {
  margin-bottom: auto;
  min-height: 100%;
  display: block;
}

.page-content {
  /*min-height: 5rem; TODO: Set minimum height without it ending up being max-height???; */
  padding-top: 1rem;
}

.footer-block {
  padding-bottom: 2rem;
  background: lavender;
}

.coda-button {
  height: 10rem;
  background: yellow;
  text-align: center;
  /* TODO: Increase border radius to a nice number */
}
.coda-button span {
  margin: auto;
  font-size: 18px;
}
.coda-button:hover, .coda-button:active, .coda-button:focus {
  background: lime;
}
