{% load static %}

<!DOCTYPE html>
<html lang="en-GB" class="h-100">
	{% include 'website/structure/head.html' %}

	<body class="d-flex flex-column h-100">
		<div class="container-fluid page-header {% if home_header %}home-header{% endif %} d-flex">
			<div class="row" style="margin-bottom:7rem;">
				{% include 'website/structure/nav.html' %}
			</div>
			<div class="row mt-auto mb-4 ms-5">
				<div class="col-12">
					<h1 class="display-1 text-left page-title">{{ title | default:"Welcome to Codamotion" }}</h1>
				</div>
			</div>
		</div>
		<div class="page-content mb-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						{% block messages %}
							{% include 'website/structure/messages.html' %}
						{% endblock %}
						{% block content %}
							{% if page.body_text %}
								{{ page.body_text | linebreaks }}
							{% endif %}
						{% endblock %}
						{% block content_blocks %}
							{% if page.get_content %}
								<div class="mt-4">
									{% for content in page.get_content %}
										<div class="row mb-4">
											{% if content.title %}
												<div class="primary-column">
													<h2 class="mt-2">{{ content.title }}</h2>
												</div>
											{% endif %}
											<div class="secondary-column pt-4">
												{{ content.body_text | linebreaks }}
											</div>
										</div>
									{% endfor %}
								</div>
							{% endif %}
						{% endblock %}
						{% block list_data %}
							{% if include_string %}
								{% include include_string %}
							{% endif %}
							{% if page.list_data_format == 'grid' %}
								{% include 'website/components/grid-list.html' with items=list_data_items %}
							{% elif page.list_data_format == 'accordion' %}
								{% include 'website/components/accordion.html' with items=list_data_items %}
							{% endif %}
						{% endblock %}
					</div>
				</div>
			</div>
			{% block full_width %}{% endblock %}
		</div>
		{% if page.testimonial %}
			{% include 'website/components/testimonial.html' %}
		{% endif %}
		<div class="container-fluid footer-block mt-auto">
			{% include 'website/structure/footer.html' %}
		</div>

		{% include 'website/structure/js.html' %}

	</body>
</html>
