{% load static %}

<!DOCTYPE html>
<html lang="en-GB" class="h-100">
	{% include 'website/structure/head.html' %}

	<body class="d-flex flex-column h-100">
		<div class="container-fluid page-header {% if home_header %}home-header{% endif %} d-flex">
			<div class="" id="particles-js" style="background-image:url('{% static 'website/neurons.jpg' %}')"></div>
			<div class="row" style="margin-bottom:7rem;">
				{% include 'website/structure/nav.html' %}
			</div>
			<div class="row mt-auto mb-4 ms-5 zi-3">
				<div class="col-12">
					<h1 class="display-4 text-left page-title">{% block title %}{{ title | default:"Welcome to Codamotion" }}{% endblock %}</h1>
				</div>
			</div>
		</div>
		<div class="page-content mb-5">
			<div class="container">
				<div class="row">
					<div class="col-12">
						{% block messages %}
							{% include 'website/structure/messages.html' %}
						{% endblock %}

						{% block body_text %}
							{% if page.body_text %}
								{{ page.body_text | linebreaks }}
							{% endif %}
						{% endblock %}

						{% block list_content %}
							{% block list_data %}
								{% include 'website/components/list-data.html' %}
							{% endblock %}
							{% block content_block %}
								{% include 'website/components/content-block.html' %}
							{% endblock %}
						{% endblock %}
					</div>
				</div>
			</div>
			{% block full_width %}{% endblock %}
		</div>
		{% if page.testimonial %}
			{% include 'website/components/testimonial.html' %}
		{% endif %}
		<div class="container-fluid footer-block mt-auto">
			{% include 'website/structure/footer.html' %}
		</div>

		{% include 'website/structure/js.html' %}

	</body>
</html>
