<div class="row mx-md-5">
	<div class="col-lg-4">
		<div class="secondary-column mt-5 pt-2" id="footer-tagline">
			<h3>Codamotion</h3>
			<p>{{ company_info.tagline }}</p>
			{% if company_info.phone_number or company_info.email %}
				<dl class="ms-0">
					{% if company_info.phone_number %}
						<dd><a href="tel:{{ company_info.phone_number }}">{{ company_info.phone_number }}</a></dd>
					{% endif %}
					{% if company_info.email %}
						<dd><a href="mailto:{{ company_info.email }}">{{ company_info.email }}</a></dd>
					{% endif %}
				</dl>
			{% endif %}
		</div>
	</div>
	<div class="col-lg-8 footer-contact">
		<div class="card shadow-lg rounded-3">
			<div class="card-body">
				<h3 class="my-3 pb-2">Contact us for sales, support or enquiries.</h3>
				{% include 'website/components/contact-form.html' %}
			</div>
		</div>
	</div>
</div>
<div class="container mt-3">
	<hr class="mt-5 mb-2">
	<div class="row mb-2">
		<div class="col px-4">
			{% include 'website/structure/footer-menu.html' %}
		</div>
	</div>
	<div class="row">
		<div class="col px-4">
			<p class="small">{{ company_info.company_text | linebreaks }}</p>
		</div>
	</div>
</div>