{% load static %}

<nav class="navbar navbar-expand-lg codamotion-nav fixed-top text-light navbar-dark">
	<div class="container-fluid">
		<div id="main-logo">
			<a href="{% url 'website:index' %}" class="navbar-brand" data-minheight="14">
				<div class="logo-image" data-maxheight="55" style="height: 55px;">
					<img src="{% static 'website/codamotion-logo-light.svg' %}" alt="Codamotion Logo" width="1" height="1" class="img-responsive" id="navbar-logo">
				</div>
				<div class="logo-image logo-dark" data-maxheight="55" style="height: 55px;display:none;">
					<img src="{% static 'website/codamotion-logo-light.svg' %}" alt="Codamotion Logo" width="1" height="1" class="img-responsive">
				</div>
			</a>
		</div>
		<button class='navbar-toggler' type="button" data-bs-toggle='collapse' data-bs-target="#codamotion-navbar" aria-controls="codamotion-navbar" aria-expanded="false" aria-label="Toggle Navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="codamotion-navbar">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href='#' id="navbar-dropdown-product" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Products</a>
					<ul class="dropdown-menu" aria-labelledby="Product dropdown">
						<li><a class="dropdown-item" href="#">3D Models</a></li>
					</ul>
				</li>
				{% for item in header_menu %}
				<li class="nav-item">
					<a class="nav-link">{{ item }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>