// Bootstrap mods
$enable-negative-margins: true;
// Import Bootstrap
@import "../../../../node_modules/bootstrap/scss/bootstrap";


// 		BRANDING

$coda-teal: #00d0ff;
$coda-navy: #0c50ce;
$coda-purple: #6442ff;
$primary: $coda-navy;
.bg-brand-gradient {
	background: linear-gradient(to right, $coda-teal 0%,$coda-navy 50%,$coda-purple 88%);
}
.bg-transparent-white {
	background-color: rgba(255,255,255,0.5);
}

.page-header, .footer-block {
	@extend .bg-brand-gradient;
}

// 		TYPOGRAPHY

@font-face { font-family: 'SF-Pro-Display'; src: url('fonts/SF-Pro-Display/SF-Pro-Display-Heavy.woff') format('woff'); font-weight: 800; font-style: normal; }
@font-face { font-family: 'SF-Pro-Display'; src: url('fonts/SF-Pro-Display/SF-Pro-Display-Bold.woff') format('woff'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'SF-Pro-Display'; src: url('fonts/SF-Pro-Display/SF-Pro-Display-Semibold.woff') format('woff'); font-weight: 600; font-style: normal; }
@font-face { font-family: 'SF-Pro-Display'; src: url('fonts/SF-Pro-Display/SF-Pro-Display-Medium.woff') format('woff'); font-weight: 500; font-style: normal; }
@font-face { font-family: 'SF-Pro-Display'; src: url('fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff') format('woff'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'SF-Pro-Display'; src: url('fonts/SF-Pro-Display/SF-Pro-Display-Light.woff') format('woff'); font-weight: 300; font-style: normal; }
@font-face { font-family: 'SF-Pro-Display'; src: url('fonts/SF-Pro-Display/SF-Pro-Display-Thin.woff') format('woff'); font-weight: 200; font-style: normal; }
@font-face { font-family: 'SF-Pro-Display'; src: url('fonts/SF-Pro-Display/SF-Pro-Display-Ultralight.woff') format('woff'); font-weight: 100; font-style: normal; }

* {
	font-family: 'SF-Pro-Display', 'Helvetica', 'Roboto', 'Arial', sans-serif !important;
}
.fa, .far, .fas {
	// Override
	font-family: "Font Awesome 5 Free" !important;
}
h2 {
	font-weight: 400;
}
h3 {
	font-weight: 300;
}
label {
	font-weight: 300;
	font-size: 1rem;
}
ul {
	@extend .mt-4;
}
.bg-brand-gradient .accordion-header {
	@extend .bg-transparent-white;
	font-weight: 500;
	.accordion-button:not(.collapsed) {
		@extend .bg-transparent-white;
	}
}

.product-content, .component-content, [class*="person-"], .accordion-item, .accordion-content {
	> :first-child {
		margin-top: 0px;
	}
}
.product-content, .secondary-column, .body-text {
	p:first-of-type {
		@extend .lead;
	} 
}

.text-outline {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
}

//		STRUCTURE 
.zi-1 {
	z-index: 1;
}
.zi-2 {
	z-index: 2;
}
.zi-3 {
	z-index: 3;
}

.page-header {
	min-height: 17rem;
	color: white;
	position: relative;
	overflow: hidden;
	h1 {
		@include font-size(3rem);
		word-break: break-word;
	}

	&.home-header {
		h1 {
			@include font-size(5rem);
		}
		min-height: 95vh;
	}
}

.page-title {
	@extend .ms-lg-4, .ms-n2;
}
.page-content {
	/*min-height: 5rem; TODO: Set minimum height without it ending up being max-height???; */
	padding-top: 1rem;
	@extend .mb-5;
}
.footer-block {
	padding-bottom: 2rem;
	@extend .text-light, .bg-brand-gradient;

	.footer-contact {
		@extend .text-dark, .mt-md-n5; 
		[class*="card-"] {
			// padding: 1.5rem 2rem;
			@extend .p-4;
			> :first-child { 
				margin-top: inherit;
			}
		}
	}
	a {
		@extend .text-light; 
	}
	#footer-tagline {
		@media only screen and (min-width: 768px) {
			width: 75%;
		}
	}
}

.primary-column {
	border-top: 1px solid black;
	@extend .col-md-2, .py-4, .mx-md-4;
}
.text-light .primary-column {
	border-color: #fff;
}
.secondary-column {
	border-top: 1px solid #bbb;
	@extend .col-md, .ms-md-4, .mb-4;
	&#footer-tagline {
		border-color: rgba(255,255,255,0.4);
	}
}
.primary-column, .secondary-column {
	@media only screen and (max-width: 768px){
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

.striped-background {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: darken;
	background-color: $coda-navy;
}

.accordion-header {
	margin: 0 0 0 0;
}
.component-content {
	@extend .mt-4, .mt-md-0;
}
.testimonial-block {
	padding: 8rem 2rem 5rem 2rem;
	@media only screen and (max-width: 768px) {
		padding-top: 4rem;
	}

	figure {
		@extend .ms-md-4;
		@media only screen and (min-width: 768px){
			width: 60%;
		}
		.blockquote, .blockquote-footer {
			@extend .text-light, .fw-light;
		}
		.blockquote {
			@extend .h2;
		}
		.blockquote-footer {
			@extend .h3, .mt-4;
		}
	}
}

//		NAVIGATION 

.nav-border-bottom { 
	// So it only appears when the navbar scrolls and it's lovely and borderless otherwise
	border-bottom: 1px solid #ccc;
}
.codamotion-nav {
	// min-height: 7rem;
	@extend .pt-lg-4, .py-4;
	.navbar-nav>.nav-item {
		margin-right: 1rem;
		font-size: 1.05rem;
		font-weight: 400;
	}
	transition: all;
	transition-duration: 0.5s;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
}
.navbar-light .navbar-nav .nav-link {
	color: black;
}

#main-logo {
	@extend .ms-md-4;
}
.dropdown-toggle {
	i.fa, i.fas, i.far {
		margin-right: 0 !important; 
	}

	&::after {
		// Override Bootstrap
		border: none;
		vertical-align: 0;
		margin-left: 0;
	}
}
.dropdown-menu {
	border-radius: 0;
	padding: 1rem;
	a.dropdown-item {
		&:hover {
			background: #ccc;
		}
	}
	@media only screen and (min-width: 768px){
		// Can't extend .shadow to be on a media query
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	} 
	@media only screen and (max-width: 768px) {
		border: none;
	}
}

.anchor:target::before {
	// When clicking on # links, account for the header navbar
	content: "";
	display: block;
	height: 150px;
	margin: -150px 0 0;
}
.nav-tabs .nav-link {
	color: inherit;
	border: none;
	&.active, &.active:focus, &.active:hover {
		color: $coda-navy;
		border: inherit;
		border-bottom: 3px solid $coda-purple;
		background: inherit;
	}
	&:hover, &:focus {
		border: inherit;
		color: $coda-navy;
	}
}

// 		ELEMENTS

#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3; 
	height: 100%;
	width: 100%;
	z-index: 1;
	background-position: center;
	background-size: cover;
}

.coda-button {
	height: 10rem;
	text-align: center;
	overflow: hidden;
	background-color: $coda-navy;
	position: relative;
	margin-bottom: 1rem;

	&:hover, &:active, &:focus {
		.coda-button-background {
			opacity: 0.7;
			transform: scale(1.1);
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			-o-transition: all .5s;
			transition: all .5s;
			&.grid-list-homepage {
				background-blend-mode: initial;
			}
		}
	}

	.coda-button-background {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 1;
		z-index: 5;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		&.grid-list-homepage {
			background-blend-mode: luminosity;
			background-color: #aaa;
		}
	}

	.caption {
		font-size: 24px;
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		color: white;
		z-index: 10;
		span { 
			padding: 1rem;
			width: 100%;
		}
	}
}

//		SPECIFIC DATA TYPES
.row.person {
	margin-top: 1rem;
}
[class*="person-"] {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-right: 1rem;
	margin-left: 1rem;
}